rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and update their own profiles
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Users can manage their own trip requests.
    // They can read a matched trip if they are the requester or the matched user.
    match /tripRequests/{tripId} {
      allow read: if request.auth != null && (request.auth.uid == resource.data.userId || request.auth.uid == resource.data.matchedUserId);
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    // Chat messages can only be read/written by participants in the chat.
    match /chats/{chatId} {
      allow read, write: if request.auth != null && request.auth.uid in resource.data.userIds;
      
      match /messages/{messageId} {
        allow read, create: if request.auth != null && get(/databases/$(database)/documents/chats/$(chatId)).data.userIds.hasAny([request.auth.uid]);
      }
    }
    
    // Flagging data is write-only for users
    match /flags/{flagId} {
        allow create: if request.auth != null && request.auth.uid == request.resource.data.flaggerId;
    }
  }
}
